@use '../abstracts/' as *;
.button {
    padding: .6875rem auto .6875rem;
    border: none;
    border-radius: 1.25rem;
}
.button-solid {
    @extend .button;
    background-color: clr(primary);
    color: clr(neutral, white);

    &:active {
        background-color: clr(primary, dark);
        outline: .125rem solid black;
        outline-offset: -.125rem;
    }
}
.button-stroke {
    @extend .button;
    background: transparent;
    box-shadow: 0 0 0 .125rem clr(primary) inset;
    
    color: clr(primary);
    &:active {
        color: clr(primary, dark);
        box-shadow: 0 0 0 .125rem clr(primary, dark) inset;
    }
}
.button-light {
    @extend .button;
    background: clr(neutral, white);
    color: clr(primary);
}