@use '../abstracts/' as *;
.input {
    background-color: clr(neutral, light);
    border: none;
    border-radius: 1.25rem;
    padding: .59375rem 0 .59375rem 1.25rem ;
    margin: 0 0 1.875rem 1.25rem ;

    &:focus {
        outline: .125rem solid clr(primary);
        outline-offset: -.125rem;
    }
}
::placeholder {
    color: clr(neutral, gray);
    font-weight: 400;
}