@use '../abstracts/' as *;
body {
    color: clr(neutral, dark);
    font: 500 .875rem font-family(primary);   
}
.tag {
    font: 400 .75rem font-family(secondary);
}

label {
    @extend .tag;
    color: clr(primary);
    margin: 0 auto .3125rem 2.5rem;
}

h1, h2, h3 {
    font-weight: 400;
    font-family: font-family(secondary);
}
h1 {
    font-size: 2.25rem;
    margin-bottom: .625rem;
}
h2 {
    margin-bottom: .875rem;
}
h3 {
    font-size: 1.125rem;
    margin-bottom: 0;
}